@import "tailwindcss";

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
}

body {
  @apply m-0 bg-black text-white antialiased;
  height: 100%;
  overflow: hidden;
  position: relative;
}
